.description-box {
    border: solid 2px grey;
    padding: 10px;
    margin-right: 20px;
}
.description-box + .description-box { margin-top: 15px; }

.theme-blue .description-box { background-color: aliceblue; }
.theme-blue .description-box:nth-of-type(odd) { background-color: powderblue; }

.theme-red .description-box { background-color: lightpink; }
.theme-red .description-box:nth-of-type(odd) { background-color: indianred; }


.radio {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}
.radio input { height: 20px; width: 20px; }

.theme-blue.radio label { color: blue }
.theme-red.radio label { color: red }
