.description-box {
    border: solid 2px grey;
    padding: 10px;
    margin-right: 20px;
}
.theme-blue .description-box { background-color: aliceblue; }
.theme-blue .description-box:nth-of-type(odd) { background-color: powderblue; }
.theme-blue .description-box + .description-box { margin-top: 10px; }

.theme-red .description-box { background-color: lightpink; }
.theme-red .description-box:nth-of-type(odd) { background-color: indianred; }
.theme-red .description-box + .description-box { margin-top: 20px; }
